.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.resultContainer {
  display: grid;
  gap: 8px;
  padding: 16px 32px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
}

.loadingImage {
  align-self: center;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  color: red;
  height: 100vh;
  justify-content: center;
}

@media (min-width: 320px) {
  .resultContainer {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1025px) {
  .resultContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
